<%- include('includes/head.ejs') %>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>

    <main>
      <form action="tambah-pengguna" method="post">
        <input type="text" name="nama">
        <button type="submit">Tambah Pengguna</button>
      </form>
    </main>
<%- include('includes/end.ejs') %>
